version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  build:
    docker:
      - image: cimg/ruby:2.7.5-node

    environment:
      RAILS_ENV: test

    steps:
      - checkout
      - ruby/install-deps

      - restore_cache:
          keys:
            - gems-{{ .Branch }}-{{ checksum "Gemfile.lock" }}

      - run:
          name: Install Dependencies
          command: bundle install

      - run:
          name: Database Setup (of testing app)
          command: bundle exec rails db:schema:load --trace

      - run:
          name: Run RSpec Tests
          command: bundle exec rspec
