version: 2.1
jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.5

    steps:
      - checkout

      - restore_cache:
          keys:
            - gems-{{ .Branch }}-{{ checksum "Gemfile.lock" }}

      - run:
          name: Install Dependencies (bundling..)
          command: |
            bundle install --path vendor/bundle

      - save_cache:
          key: gems-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Database Setup (of testing app)
          command: |
            bundle exec rails db:create
            bundle exec rails db:schema:load
            bundle exec rails db:test:prepare

      - run:
          name: Run RSpec Tests
          command: bundle exec rspec
